* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    /* background-image: linear-gradient(to right, #008000, #32910e, #50a21c, #6bb328, #85c434, #7fba38, #79b13c, #74a73f, #538138, #395c2e, #233921, #121912); */
    cursor: default;
}

header {
    position: sticky;
    top: 0px;
    background-color: white;
    cursor: none;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    /* z-index: -2; */
}

.home {
    overflow: hidden;
    margin-bottom: 30px;
}

.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
    align-items: center;
}

.nav-links li {
    padding: 1rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links,
h1 {
    flex: 1;
}

.divider {
    position: relative;
    margin-top: 10px;
    height: 10px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(159, 162, 170), transparent);
}

.burger div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: black;
    ;
}

.mobileViewLi {
    display: none;
}

.burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .nav-links {
        font-size: 13px;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .burger {
        display: block;
    }
    #mobileViewNone {
        display: none;
    }
    .mobileViewLi {
        display: block;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 72vh;
        top: 8vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
        background-color: white;
    }
    .nav-links li {
        opacity: 0;
    }
    .home {
        flex-direction: column;
        height: 200vh;
        width: 100%;
    }
    .aboutme {
        font-size: 16px;
    }
    .photoanimation {
        height: 100vh;
        width: 100%;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* .newcursor {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 3;
    background-color: transparent;
} */

.link-grow {
    transform: scale(2);
    background: transparent;
    border: 1px solid black;
}

.nav-links :hover {
    color: red;
    transform: scale(2);
    transition: all 0.2s ease;
}

section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    width: 80vh;
    height: 80vh;
    background-color: rgba(231, 15, 7, 0.438);
    border-radius: 20px;
    position: relative;
    align-items: center;
    margin-left: 2%;
    transition: transform .2s;
    /* Animation */
}

.circle :hover {
    transform: scale(2);
}

.aboutme {
    z-index: 3;
    font-family: 'Tangerine', cursive;
    letter-spacing: 3px;
    width: 40%;
    text-align: center;
    align-items: center;
    line-height: 5vh;
    /* flex: 1; */
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin: 0 30px;
    padding: 10px;
    animation: reveal 3s ease-in-out forwards;
    position: absolute;
    left: 0px;
    color: white;
}

.photoanimation {
    height: 70vh;
    width: 70vh;
    position: relative;
    margin: 0 auto;
    /* flex: 1; */
    border: 1px solid rgba(10, 9, 9, 0.438);
    border-radius: 50%;
    z-index: 5;
}

.photoanimation img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 1;
    object-fit: cover;
    mix-blend-mode: screen;
    animation: reveal 1s ease forwards, swing 3s ease-in-out infinite alternate-reverse;
    opacity: 0;
}

.photoanimation video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    animation: reveal 1s ease 0.5s forwards, swing 3s ease-in-out infinite alternate-reverse;
    opacity: 0;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes swing {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(3deg);
    }
}

main {
    position: relative;
    z-index: -3;
}

.bubble {
    position: absolute;
    z-index: -2;
    background-color: blue;
    transform: scale(2);
    transition: all 0.5s ease;
}

.typing {
    position: relative;
    margin-left: 2px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 55%;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
    padding-top: 6px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    width: 100%;
    align-items: center;
    margin: 0;
    /* position: relative; */
}

.circle2 {
    width: 70%;
    height: 100vh;
    background-color: rgba(231, 15, 7, 0.438);
    border-radius: 20px;
    position: absolute;
    margin: 0px 10%;
    text-align: center;
    align-items: center;
}

.circle2 h1 {
    margin-top: 30%;
    font-size: 150px;
    color: rgba(0, 0, 0, 0.199);
}

.portfolioImg {
    width: 100%;
    height: 100%;
    object-fit: fit;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container {
    width: 300px;
    height: 250px;
    border: 1px solid white;
    border-radius: 2%;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.containerOver {
    position: relative;
}

.overlay {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.containerOver:hover .portfolioImg {
    opacity: 0.3;
}

.containerOver:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 18px;
    height: 100%;
}