* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #f3f1e9;
    overflow-x: hidden;
    cursor: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
    cursor: none;
    z-index: 99;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    /* z-index: -2; */
}

.home {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

.logo {
    color: #261c52;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
    align-items: center;
}

.nav-links li {
    padding: 1rem;
    list-style: none;
}

.nav-links a {
    color: #261c52;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links h1 {
    flex: 1;
}

.divider {
    position: relative;
    margin-top: 10px;
    height: 10px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(159, 162, 170), transparent);
}

.burger div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease;
}

.mobileViewLi {
    display: none;
}

.burger {
    display: none;
    cursor: pointer;
}

svg {
    width: 550px;
    height: 357px;
}

@media screen and (max-width:1280px) {
    #helper {
        height: 90vh;
    }
    .circle {
        width: 60%;
    }
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
    #helper {
        height: 120vh;
    }
}

@media screen and (max-width:830px) {
    #helper {
        height: 280vh;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
        align-items: center;
        text-align: center;
    }
    .burger {
        display: block;
    }
    #mobileViewNone {
        display: none;
    }
    .mobileViewLi {
        display: block;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 5vh;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: white;
        align-items: center;
        width: 50%;
    }
    .nav-links li {
        opacity: 0;
    }
    .home {
        margin-top: 15vh;
        display: block;
        text-align: center;
        width: 100%;
        align-items: center;
    }
    .aboutme {
        text-align: center;
        width: 90%;
        align-items: center;
    }
    .photoanimation {
        width: 80%;
        margin-top: 10vh;
    }
    .circle {
        margin-top: 20vh;
    }
    #helper {
        height: 270vh;
    }
    .bubble {
        display: none;
    }
    svg {
        width: 350px;
        height: 357px;
    }
}

@media screen and (max-width:320px) {
    #helper {
        height: 300vh;
    }
    .home {
        margin-top: 20vh;
    }
    svg {
        width: 320px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.newcursor {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 100;
    background-color: transparent;
}

.link-grow {
    transform: scale(2);
    background: transparent;
    border: 1px solid black;
}

.nav-links :hover {
    color: red;
    transform: scale(2);
    transition: all 0.2s ease;
}

section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    width: 45%;
    background-color: #ffd33a;
    border-radius: 50%;
    top: -5%;
    left: -5%;
    z-index: -1;
    position: absolute;
    transition: transform .2s;
}

.circle7 {
    width: 10%;
    background-color: #ffd43a6b;
    border-radius: 50%;
    top: 10%;
    left: 60%;
    z-index: -3;
    position: absolute;
    transition: transform .2s;
}

.circle8 {
    width: 5%;
    background-color: #ffd43a9d;
    border-radius: 50%;
    top: -5%;
    left: -5%;
    z-index: -1;
    position: absolute;
    transition: transform .2s;
}

.aboutme {
    width: 100%;
    z-index: 3;
    letter-spacing: 3px;
    text-align: center;
    align-items: center;
    line-height: 4vh;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
    animation: reveal 3s ease-in-out forwards;
    color: #261c52;
}

.photoanimation {
    position: relative;
    margin: 0 auto;
    border: 3px solid #a3cf4d;
    border-radius: 50%;
    z-index: 5;
    width: 45%;
    margin-top: 10vh;
}

.photoanimation::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.photoanimation img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 1;
    object-fit: cover;
    mix-blend-mode: screen;
    animation: reveal 1s ease forwards, swing 3s ease-in-out infinite alternate-reverse;
    opacity: 0;
}

.photoanimation video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    animation: reveal 1s ease 0.5s forwards, swing 3s ease-in-out infinite alternate-reverse;
    opacity: 0;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes swing {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(3deg);
    }
}

main {
    position: relative;
}

.bubble {
    position: absolute;
    z-index: -2;
    transform: scale(2);
    transition: all 0.5s ease;
}

.typing {
    position: relative;
    margin-left: 2px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 55%;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
    padding-top: 6px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 2em;
    width: 100%;
    align-items: center;
    margin: 0;
    /* position: relative; */
    height: 100vh;
}

#githubLeft {
    font-size: 22px;
    margin: 5px 3px;
    color: black;
}

#githubLeft:hover {
    color: blue;
}

.circle2 {
    width: 50%;
    background-color: #a3cf4d;
    border-radius: 50%;
    position: absolute;
    margin: 0 20%;
}

.circle2 h1 {
    margin-top: 30%;
    font-size: 140px;
    color: #fae4967a;
}

.portfolioImg {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    display: block;
    border-radius: 2%;
}

.container {
    width: 80%;
    height: 30vh;
    border: 1px solid white;
    border-radius: 2%;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.containerOver {
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    z-index: 5;
}

.containerOver:hover .portfolioImg {
    opacity: 0.2;
}

.containerOver:hover .overlay {
    opacity: 1;
}

.containerOver .text {
    color: black;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    line-height: initial;
}

a {
    /* or whatever your class */
    text-decoration: none;
}


/*animation - svg*/

#leftArm {
    animation: leftArm 1s ease-in-out infinite alternate;
    transform-origin: top;
}

@keyframes leftArm {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(1.6%);
    }
}

#rightArm {
    animation: rightArm 2s ease-in-out infinite alternate;
    transform-origin: top;
}

@keyframes rightArm {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(2%);
    }
}

#leftHair {
    animation: hair 2s ease-in-out infinite alternate;
    transform-origin: top;
}

#rightHair {
    animation: hairR 2s ease-in-out infinite alternate;
    transform-origin: top;
}

@keyframes hair {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-0.8%);
    }
}

@keyframes hairR {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-0.2%);
    }
}

#ground {
    animation: ground 2s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes ground {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(45deg);
    }
}

#circle3 {
    width: 20%;
    background-color: #a3cf4d;
    border-radius: 50%;
    margin: auto;
    transition: transform .2s;
    text-align: center;
}

#circle3 h1 {
    font-size: calc(12px + (38 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#circle4 {
    width: 5%;
    top: 5%;
    background-color: #261c52;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    transition: transform .2s;
}

#circle4 a {
    color: white;
    font-size: calc(22px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#circle4 a:hover {
    color: blue;
}

#circle5 {
    width: 14%;
    background-color: #a3cf4d;
    border-radius: 50%;
    margin: auto;
    align-items: center;
    text-align: center;
    transition: transform .2s;
}

#circle5 a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: black;
}

#circle5 a:hover {
    color: blue;
}

#circle6 {
    width: 10%;
    background-color: #ffd33a;
    border-radius: 50%;
    margin: auto;
    align-items: center;
    text-align: center;
    transition: transform .2s;
}

#circle6 a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 26px;
}

#circle6 a:hover {
    color: white;
}

.circle::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.circle7::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.circle8::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.circle2::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

#circle3::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

#circle4::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

#circle5::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

#circle6::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}